// @use "../bio.css";

$BandSite_Black:#323232;
$Silver:#AFAFAF;
$White:#FFFFFF;
$BandSite_DarkBlack:#000000;
$Mercury:#E1E1E1;
$Alabaster:#FAFAFA;

// BandSite-Black: Primary text color for dark on light
// background. Dark background color

// Silver: Seconday text color. Inactive CTA text color.

// White: Primary text color for light on dark background.
// Light background color. Active CTA text color.

// BandSite-DarkBlack: CTA hover state.

// Mercury: Divider line. Form field outline.

// Alabaster: Alternative light background color