@font-face {
  font-family: "AvenirNext Normal";
  src: url("../../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNext Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "AvenirNext Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}

body {
  font-family: "AvenirNext Normal";
}

// Mobile
// Page Header
// Text size: 24px | Line height: 32px | Text weight: Bold 700

// Section Header
// Text size: 24px | Line height: 32px | Text weight: Bold 700

// Subheader
// Text size: 14px | Line height: 22px | Text weight: Demi 600

// Body Copy
// Text size: 13px | Line height: 18px | Text weight: Regular 400

// Footer Copy
// Text size: 13px | Line height: 18px | Text weight: Regular 400

// Labels & Buttons
// Text size: 10px | Line height: 20px | Text weight: Bold 700

// Desktop & Tablet
// Page Header
// Text size: 60px | Line height: 68px | Text weight: Bold 700

// Section Header
// Text size: 36px | Line height: 44px | Text weight: 700

// Subheader
// Text size: 24px | Line height: 32px | Text weight: Demi 600

// Body Copy
// Text size: 14px | Line height: 22px | Text weight: Regular 400

// Footer Copy
// Text size: 14px | Line height: 20px | Text weight: Regular 400

// Labels& Buttons
// Text size: 12px | Line height: 20px | Text weight: Bold 700
