// Screen Sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$BandSite_Black: #323232;
$Silver: #afafaf;
$White: #ffffff;
$BandSite_DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

// Fonts
$Ave-reg: "AvenirNext Normal";

$Ave-demi: "AvenirNext Demi";

$Ave-bold: "AvenirNext Bold";
