@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: $BandSite_Black;
  // background: url(../assets/logo/Logo-bandsite.svg) no-repeat center
  //   $BandSite_Black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
  align-self: center;
  height: 20px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: $White;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__link {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    width: 50%;

    &--active {
      font-family: $Ave-demi;
      border-bottom: 0.25rem solid $White;
    }

    &--inactive {
      color: $Mercury;
    }
  }
}

.hero {
  background: url(../assets/images/hero-bio.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 11rem;
  color: $White;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 1rem;
  color: $White;
  font-family: $Ave-demi;
}

.main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  &__title {
    font-family: $Ave-demi;
    margin: 1rem 0;
  }
  &__quote {
    font-family: $Ave-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
  &__subheader {
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  &__par {
    font-size: 0.813rem;
    line-height: 1.125rem;
    text-align: start;
    margin-bottom: 0;
  }
}

.photo-gallery {
  padding: 0 1rem;
  background: $Alabaster;
  font-family: $Ave-demi;

  &__title {
    padding-top: 1rem;
    margin: 0;
  }
  &__img {
    width: 100%;
    background: $Alabaster;
    margin-top: 0.8rem;
  }
}

.footer {
  background: $BandSite_Black;
  color: $White;
  padding: 0 1rem;
  &__title {
    margin-top: 0.75rem;
    padding: 1rem 0;
    margin-bottom: 0;
    font-family: $Ave-demi;
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 1.5rem;
  }
  &__par {
    font-size: 0.813rem;
    line-height: 1.125rem;
    &-title {
      font-family: $Ave-demi;
      line-height: 1.125rem;
    }
    &-desc {
      line-height: 1.125rem;
    }
    &-email {
      margin: 1rem 0;
    }
    &-copyright {
      margin: 0;
      padding-bottom: 1rem;
      font-size: 0.625rem;
    }
  }
  &__logo {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}
