@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: $BandSite_Black;
  // background: url(../assets/logo/Logo-bandsite.svg) no-repeat center
  //   $BandSite_Black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
  align-self: center;
  height: 20px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: $White;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__link {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem ;
    width: 50%;

    &--active {
      font-family: $Ave-demi;
      border-bottom: .25rem solid $White;
    }

    &--inactive{
      color: $Mercury;
    }
  }
}

.hero {
  background: url(../assets/images/hero-bio.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 11rem;
  color: $White;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 1rem;
  color: $White;
  font-family: $Ave-demi;
}

.main{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  &__title{
    font-family: $Ave-demi;
    margin: 1rem 0;
  }
  &__quote{
    font-family: $Ave-demi;
    font-size:0.875rem;
    line-height: 1.375rem;
    margin-bottom:0 ;
  }
}



.photo-gallery__img {
  width: 100%;
  
}
