@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: $BandSite_Black;
  // background: url(../assets/logo/Logo-bandsite.svg) no-repeat center
  //   $BandSite_Black;
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
  align-self: center;
  height: 20px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: $White;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &__link {
    padding: 1rem;
    margin: 0 1rem 0 1rem;
  }
}

.hero {
  background: url(../assets/images/hero-bio.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 20rem;
  color: $White;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 1rem;
  color: $White;
  font-family: "AvenirNext Demi";
}

.main__img {
  width: 90%;
  margin: 1rem;
}

.photo-gallery__img {
  width: 90%;
  margin: 1rem;
}
