@font-face {
  font-family: "AvenirNext Normal";
  src: url("../../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
body {
  font-family: "AvenirNext Normal";
}

html html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  header {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  header {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 8rem;
  }
}

.header__logo {
  display: flex;
  align-self: center;
  height: 20px;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .header__nav {
    align-items: center;
  }
}
.header__nav__link {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header__nav__link {
    margin: 0 3rem;
    padding: 2rem 0;
  }
}
.header__nav__link--active {
  font-family: "AvenirNext Demi";
  border-bottom: 0.25rem solid #ffffff;
}
.header__nav__link--inactive {
  color: #e1e1e1;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .header__nav__link--inactive {
    padding-bottom: 2.25rem;
  }
}

.hero {
  background: url(../assets/images/hero-shows.jpg) rgba(50, 50, 50, 0.5) no-repeat center center;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0;
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
}
.hero__subheader {
  margin: 1rem 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__subheader {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
}
.hero__song-link {
  margin: 1rem;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .hero__song-link {
    width: 55%;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__song-link {
    width: 55%;
    margin: 0;
    height: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 26rem;
    padding: 2rem 0 2rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0 8rem 0 8rem;
    height: 40rem;
  }
}

h1 {
  margin: 0 1rem;
  color: #ffffff;
  font-family: "AvenirNext Demi";
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 0;
    width: 75%;
  }
}

.main {
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    padding: 0 8rem;
    margin: 0;
  }
}
.main__title {
  font-family: "AvenirNext Demi";
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .main__title {
    font-size: 2.25rem;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .main__title {
    margin: 2.75rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }
}

.show-list__header {
  display: none;
}
@media screen and (min-width: 768px) {
  .show-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .show-list__header {
    width: 75%;
    align-self: self-end;
    position: relative;
    top: -4.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .show-list {
    width: 75%;
    align-self: self-end;
    position: relative;
    top: -4rem;
  }
}
.show__card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .show__card {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.show__card:hover {
  background: #fafafa;
  cursor: pointer;
}
.show__card:active {
  background: #e1e1e1;
}
.show__label {
  font-family: "AvenirNext Demi";
  font-size: 0.625rem;
  color: #afafaf;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .show__label {
    justify-self: flex-start;
    display: none;
  }
}
.show__label__tablet {
  font-size: 0.75rem;
  color: #afafaf;
  font-family: "AvenirNext Demi";
}
.show__date {
  font-family: "AvenirNext Demi";
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .show__date {
    width: 7.625rem;
    font-size: 0.875rem;
  }
}
.show__venue {
  font-family: "AvenirNext Normal";
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .show__venue {
    width: 6.313rem;
    font-size: 0.875rem;
  }
}
.show__location {
  font-family: "AvenirNext Normal";
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .show__location {
    font-size: 0.875rem;
  }
}

.tablet__header-date {
  width: 7.625rem;
}
.tablet__header-venue {
  width: 6.313rem;
}
.tablet__header-location {
  width: 7.082rem;
}
.tablet__header-space {
  width: 8.392rem;
}

.ticket-button {
  border-radius: 0.25rem;
  border-color: #323232;
  background: #323232;
  color: white;
  padding: 1rem;
  font-family: "AvenirNext Demi";
  justify-self: center;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .ticket-button {
    padding: 0.5rem 1.5rem;
  }
}

.footer {
  background: #323232;
  color: #ffffff;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: auto;
    padding: 2rem 8rem;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__nav {
    width: 72%;
  }
}
.footer__title {
  margin-top: 0.75rem;
  padding: 1rem 0;
  margin-bottom: 0;
  font-family: "AvenirNext Demi";
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    margin: 0;
    width: 13.18rem;
  }
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 7.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    margin: 0;
    width: 10.805rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials-icon {
    height: 1.5rem;
    padding: 1.25rem 0 1.25em;
  }
}
.footer__socials-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__socials-logo {
    display: flex;
    height: 1.25rem;
    padding: 1rem 0;
    padding-left: 6rem;
    justify-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials-logo {
    position: relative;
    left: 38%;
  }
}
.footer__par {
  font-size: 0.813rem;
  line-height: 1.125rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__par-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__par-container {
    width: 72%;
  }
}
.footer__par-agent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__par-title {
  font-family: "AvenirNext Demi";
  line-height: 1.125rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__par-title {
    line-height: 1.25rem;
    font-weight: 500;
    font-family: "AvenirNext Demi";
  }
}
.footer__par-role {
  margin-top: 0.125rem;
  margin-bottom: 1rem;
}
.footer__par-desc {
  line-height: 1.125rem;
  margin: 0;
  margin-top: 0.125rem;
}
@media screen and (min-width: 768px) {
  .footer__par-desc {
    line-height: 1.25rem;
  }
}
.footer__par-email {
  margin: 1rem 0;
}
.footer__par-copyright {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__par-copyright {
    font-size: 0.813rem;
  }
}
.footer__logo {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  a.footer-socials {
    height: 1.75rem;
    width: 1.75rem;
  }
}/*# sourceMappingURL=shows.css.map */